.general-container {
  display: flex;
  flex-direction: row;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.card-container {
  background-color: #036b52;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-completed {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 10% 20%;
}

.card-completed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30% 20%;
}

.forms {
  display: flex;
  flex-direction: column;
}

.input-max {
  border-bottom: 2px solid black;
  cursor: auto;
  padding: 10px;
  width: 100%;
}

.card {
  align-items: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10% 20%;
}
