body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 40px 0;
}

button {
  margin: 0 auto;
  width: 100px;
  padding: 3px;
  font-size: 18px;
  background-color: rgb(0, 0, 65);
  color: white;
  border-radius: 3px;
}

button:hover {
  background-color: rgb(32, 32, 202);
  cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

label {
  margin: 15px;
}
